@using System.Security.Claims
@model (MyWishly.App.Models.User, IEnumerable<Item>)

@{
    Layout = "_LayoutEmpty";
    ViewBag.BodyClass = "bg-light";
    var selfVisit = Model.Item1.UserId.ToString() == User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<div class="container-lg">
    <div class="row">
        <div class="col">
            <h1 class="text-center display-3 my-5">@(Model.Item1.Name)'s Wishlist</h1>
        </div>
    </div>
    @if (ViewBag.BuySuccess is string s)
    {
        <div class="alert alert-success" role="alert">
            <i class="fas fa-check-circle fa-lg fa-fw"></i>
            <strong>Success!</strong> We've marked the item "@s" as bought! Thank you!
        </div>
    }
    @if (!Model.Item2.Any())
    {
        <h3 class="text-center">There are no items currently on this wishlist.</h3>
    }
    else
    {
        @foreach (var item in Model.Item2.OrderBy(i => i.Order).Where(i => !i.IsBought || selfVisit))
        {
            <div class="row mb-5 shadow rounded p-3 bg-white">
                <div class="col-6 d-flex justify-content-center">
                    <img src="@item.ImageUrl" alt="@item.Name product image" class="product-image text-center" />
                </div>
                <div class="col-6">
                    <h2>@item.Name</h2>
                    <div class="fs-5">
                        @Html.Raw(Markdig.Markdown.ToHtml(item.Description ?? ""))
                    </div>
                    <div class="vstack gap-2">
                        <div class="d-flex align-items-center">
                            <span class="text-success fs-3 align-middle">@item.Price.ToString("C2")</span>
                            @if (@item.PriceMax > 0)
                            {
                                <small class="ms-3"><abbr class="initialism" title="Do Not Pay Above">DNPA</abbr>: @item.PriceMax.ToString("C2")</small>
                            }
                        </div>
                        <div>
                            <a class="btn btn-success" href="@item.PrimaryBuyLink" rel="nofollow" target="_blank">
                                <i class="fas fa-shopping-bag fa-fw"></i>
                                View Store Page
                            </a>
                        </div>
                        @if (!selfVisit)
                        {
                            <div>
                                <a class="btn btn-primary" asp-action="BuyItem" asp-route-userId="@item.UserId" asp-route-itemId="@item.ItemId" rel="nofollow" target="_blank" onclick="return confirm('Are you sure you want to mark this item as bought? This action CANNOT be undone!')">
                                    <i class="fas fa-check fa-fw"></i>
                                    I Bought This
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    }
    <div class="row mb-5">
        <div class="col-12 text-center">
            <small>&copy; @(DateTime.Now.Year) My Wishly. All rights reserved.</small>
        </div>
    </div>
</div>
